.document-node {
  .icon.circle {
    font-size: 0.5em;
    position: relative;
    text-align: center;
    margin: 0 0.6rem 0 0.3rem;
    padding: 0 0.5rem 0 0;
  }

  .icon.external {
    color: #4183c4;
    font-size: 0.9em;
    padding-left: 0.5em;
  }

.external:hover::before {
    color: #115c96;
    padding: 1px;
  }

  .external-link,
  &.external-link {
    a {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .external-link:hover,
  &.external-link:hover {
    a {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  &__link-type-container hr {
    margin: 15px 0;
  }
}
