.document-node {
  .icon.circle {
    font-size: 0.5em;
    position: relative;
    text-align: center;
    margin: 0 0.6rem 0 0.3rem;
    padding: 0 0.5rem 0 0;
  }

  .icon.external {
    display: none;
    font-size: 0.9em;
    padding-left: 0.5em;
  }

  .external-link,
  &.external-link {
    a {
      display: flex;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .external-link:hover,
  &.external-link:hover {
    a {
      color: rgba(0, 0, 0, 0.87);
    }
    .icon.external {
      display: inline-block;
    }
  }

  &__link-type-container:not(:first-child) {
    padding-top: 20px;
  }
}
