/Gemfile
/Gemfile.lock
_site/
__pycache__
.coverage
.aws-sam/
*.orig
.vagrant/*
*.patch
Vagrantfile

### vscode ###
.vscode/
*.code-workspace

## act secrets
.secrets/

### conventions ###
venv/
venv-*/
v/

### Frontend 
node_modules/
www/
.DS_Store
yarn-error.log
coverage/

### Dev db
standards_cache.sqlite