black==24.4.2 # do not touch, same version as superlinter
click
compliance-trestle
coverage
dacite
Flask
Flask_Caching
flask_compress
Flask_Cors
Flask_Migrate
Flask-SQLAlchemy
setuptools
gitpython
google-api-core
google_auth_oauthlib
google-cloud-aiplatform
grpcio_status
grpcio
gspread
gunicorn
networkx
nltk
oauthlib
openai
playwright
psycopg2-binary
pygithub
python_markdown_maker
scikit_learn
scipy
semver
setuptools
SQLAlchemy
compliance-trestle
nose
mypy
numpy
neo4j
neomodel
openapi-schema-validator
openapi-spec-validator
openpyxl
orderedmultidict
packaging
paramiko
pathable
pathspec
pbr
pep517
Pillow
pip-autoremove
platformdirs
playwright
pluggy
prance
prompt-toolkit
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
pyee
pyflakes
PyGithub
PyJWT
PyNaCl
pyparsing
pyrsistent
PySnooper
pytest
pytest-base-url
pytest-playwright
python-dateutil
python-dotenv
python-frontmatter
python-markdown-maker
python-slugify
PyYAML==6.0.1
regex
requests
requests-oauthlib
rfc3986
rsa
rq
redis
ruamel.yaml
ruamel.yaml.clib
scikit-learn
Shapely
six
smmap
sniffio
soupsieve
SQLAlchemy
sqlalchemy-stubs
testresources
text-unidecode
threadpoolctl
toml
tomli
tqdm
typed-ast
types-PyYAML
typing-inspect
typing_extensions
untangle
urllib3
vertexai
xmltodict
google-cloud-trace
alive-progress