coverage
dacite
docx==0.2.4
Flask_Caching==2.0.2
flask_compress==1.13
Flask_Cors==4.0.0
Flask_Migrate==4.0.4
gitpython
google-api-core
google_auth_oauthlib
google-cloud-aiplatform
grpcio_status
grpcio
gspread==5.10.0
gunicorn
networkx
nltk==3.8.1
oauthlib==3.2.2
openai==0.27.9
playwright
pygithub
python_markdown_maker==1.0
scikit_learn==1.3.0
scipy==1.11.2
semver
setuptools==66.1.1
simplify_docx==0.1.2
compliance-trestle
vertexai==0.0.1
xmltodict==0.13.0
