black==24.4.2 # do not touch, same version as superlinter
click
compliance-trestle
coverage
dacite
Flask
Flask_Caching
flask_compress
Flask_Cors
Flask_Migrate
Flask-SQLAlchemy
setuptools
gitpython
google
google-api-core
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-trace
grpcio-status
grpcio
gspread
gunicorn
networkx
nltk
oauthlib
openai
playwright
psycopg2-binary
PyGithub
python-markdown-maker
scikit-learn
scipy
semver
SQLAlchemy
nose
mypy
numpy
neo4j
neomodel
openapi-schema-validator
openapi-spec-validator
openpyxl
orderedmultidict
packaging
paramiko
pathable
pathspec
pbr
pep517
Pillow
pip-autoremove
platformdirs
pluggy
posthog
prance
prompt-toolkit
proto-plus
protobuf
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
pyee
pyflakes
PyJWT
PyNaCl
pyparsing
pyrsistent
PySnooper
pytest
pytest-base-url
pytest-playwright
python-dateutil
python-dotenv
python-frontmatter
python-slugify
PyYAML==6.0.1
regex
requests
requests-oauthlib
rfc3986
rsa
rq
redis
ruamel.yaml
ruamel.yaml.clib
Shapely
six
smmap
sniffio
soupsieve
sqlalchemy-stubs
testresources
text-unidecode
threadpoolctl
toml
tomli
tqdm
types-PyYAML
typing-inspect
typing_extensions
untangle
urllib3
vertexai
xmltodict
alive-progress
