alive-progress
babel
beautifulsoup4
brlapi
cloud-init
colorama
command-not-found
compliance-trestle
configobj
coverage
cssselect
cupshelpers
dacite
dbus-python
defer
distro-info
duplicity
email-validator
en-core-web-sm
evdev
ewmh
fasteners
flask-caching
flask-compress
flask-cors
flask-migrate
freetype-py
future
gitpython
grpcio-status
grpcio-tools
gspread
gunicorn
html5lib
jsonpatch
jsonpointer
keyring
language-selector
launchpadlib
lockfile
louis
lxml
mergedeep
neomodel
netifaces
networkx
nltk
nose
olefile
openai
openapi-spec-validator
opentelemetry-exporter-gcp-trace
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlalchemy
opentelemetry-propagator-gcp
pep517
pexpect
pillow
pip-autoremove
pip-chill
pipenv
pipx
posthog
prance
prompt-toolkit
psutil
psycopg2-binary
ptyprocess
pycairo
pycodestyle
pycups
pyflakes
pygithub
pygobject
pyrsistent
pyserial
pysnooper
pytest-playwright
python-apt
python-debian
python-markdown-maker
python-xlib
pyudev
pyxdg
rfc3986
rq
scikit-learn
scour
semver
sqlalchemy-stubs
systemd-python
terminator
testresources
toml
tomli
typed-ast
types-pyyaml
typing-inspect
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
untangle
usb-creator
vertexai
wadllib
watchdog
webencodings
xdg
xkit
xmltodict
yamllint
