.navbar__search {
  display: none;               
  align-items: center;
  @media (min-width: 1024px) {
    display: flex;
  }
  
  .navbar__mobile-menu &,
  .mobile-search-container & {
    display: block !important;
    width: 100%;
  }

  form {
    position: relative;
  }

  .search-icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--muted-foreground);
    height: 1rem;
    width: 1rem;
    display: block;         
    z-index: 2;
  }

  input {
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    width: 16rem;
    background-color: rgba(var(--card-rgb), 0.5);
    backdrop-filter: blur(4px);
    border: 1px solid #64748b;    
    border-radius: var(--radius);
    color: var(--foreground);
    transition: all 0.2s ease;
    .navbar__mobile-menu &,
    .mobile-search-container & {
      width: 100%;
    }

    &:focus {
      outline: none;
      border-color: #3b82f6;
      box-shadow: 0 0 0 1px #ffffff, 0 0 0 1px #3b82f6;
    }
  }

  .search-error {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: #f87171;
  }
}
