.myopencre-container {
  margin-top: 3rem;
}

.myopencre-section {
  margin-top: 2rem;
}

.myopencre-upload {
  margin-top: 1.5rem;
}

.myopencre-disabled {
  opacity: 0.7;
}
.myopencre-preview {
  margin-bottom: 1rem;
}
