.myopencre-container {
  margin-top: 3rem;
}

.myopencre-section {
  margin-top: 2rem;
}

.myopencre-upload {
  margin-top: 1.5rem;
}

.myopencre-disabled {
  opacity: 0.7;
}
.myopencre-preview {
  margin-bottom: 1rem;
}
.myopencre-intro {
  font-size: 1.05rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.cursor-pointer summary {
  cursor: pointer;
}
