
.search-page {
  background-color: #242e4c;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .search-page__heading {
    text-align: center;
  }

  .search-page__heading,
  .search-page__sub-heading {
    color: white;
  }

  .search-page__sub-heading {
    margin-top: 0px;
    margin-bottom: 30px;
    color: #eee;
  }
}

.cre-page {
  .standard-page__heading {
    color: white;
  }
}

.SearchBar {
  margin: auto;
}

.Search{
  margin: auto;
}

