
.search-page {
  background-color: #242e4c;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;

  .search-page__heading {
    text-align: center;
  }

  .search-page__heading,
  .search-page__sub-heading {
    color: white;
  }

  .search-page__sub-heading {
    margin-top: 0px;
    margin-bottom: 30px;
    color: #eee;
  }
}

// mobile
@media (min-width: 0px) and (max-width: 599px) {
  .search-page {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
