{% extends "layouts/base-fullscreen.html" %}

{% block title %} Presentation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <!-- Hero -->
        <section class="section section bg-primary pb-11 pb-lg-12 text-white overflow-hidden z-2">
            <div class="container z-2">
                <div class="row justify-content-center text-center pt-6 pb-3" role="banner">
                    <div class="col-12 col-md-8">
                        <h1 class="display-1 font-weight-light mb-3">Common Requirement Enumeration</h1>
                        <p class="lead px-xl-6 mb-5">Your source for all Security Standards Mappings</p>
                        
                    </div>
                </div>


        <!-- Section -->
        <!--<div class="section section-lg pt-4">-->
            <div class="container">
                <div class="row pt-6 pb-3">
                        <!-- Form -->
                        <div class="container form-group mb-4">
                            <label for="exampleInputEmail6">Search for a CRE or Standard</label>
                            <input type="text" class="form-control" id="CRESearchInput" aria-describedby="searchHelp">
                             <select class="custom-select my-1 mr-sm-2" id="CREsearchDropdown">
                                <option selected>Is this a</option>
                                <option value="id">CRE-Id</option>
                                <option value="name">CRE-Name</option>
                                <option value="standard">Standard</option>
                            </select>
                            <button class="container btn btn-primary" id="CREsearchBtn" type="button">Search</button>
                        </div>
                    </div>
                </div>
                            </div>
          
        </section>
        <!-- /Hero -->
            <div class="container">
                <div class="row">
                        <!-- Results -->
                        <pre class="container row pt-6 pb-3" id="old-results"></pre>
                        <div class="container row pt-6 pb-3" id="results">
                        

    <div class="wrapper center-block">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      
      <div class="panel panel-default">
        <div class="panel-heading active" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Collapsible Group Item #1
            </a>
          </h4>
        </div>
      
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            Your contents...
          </div>
        </div>
      </div>
      
    </div>
    </div>

                        
                        </div>
                    </div>
                </div>
                
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
