
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  text-size-adjust: 100%;
}

body {
  background-color: white;
}

#mount {
  height: 100vh;
  width: 100vw;
}

.app {
  height: 100%;
}
