name: Test-e2e
on: [push]
jobs:
  build:
    name: Test-e2e
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install python dependencies
        run: sudo apt-get update && sudo apt-get install -y python3-setuptools python3-pip chromium-browser libgbm1 && make install-deps 
      - name: Test-e2e
        run: make e2e